/* *********  /ecommerce  **************************** */
/** login **/
.login {
  background: #F7F7F7; 
  color:#0060AA;
}

.login .fa-paw {
  font-size: 26px; }

a.hiddenanchor {
  display: none; }

.login_wrapper {
  right: 0px;
  margin: 0px auto;
  /*margin-top: 5%;*/
  max-width: 350px;
  position: relative; }

.registration_form, .login_form {
  position: absolute;
  top: 0px;
  width: 100%; }

.registration_form {
  z-index: 21;
  opacity: 0;
  width: 100%; }

.login_form {
  z-index: 22; }

#signup:target ~ .login_wrapper .registration_form, #signin:target ~ .login_wrapper .login_form {
  z-index: 22;
  animation-name: fadeInLeft;
  animation-delay: .1s; }

#signup:target ~ .login_wrapper .login_form, #signin:target ~ .login_wrapper .registration_form {
  animation-name: fadeOutLeft; }

.animate {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: both;
  -o-animation-duration: 0.5s;
  -o-animation-timing-function: ease;
  -o-animation-fill-mode: both;
  -ms-animation-duration: 0.5s;
  -ms-animation-timing-function: ease;
  -ms-animation-fill-mode: both;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both; }

/** /login **/
/** signup **/
.login_box {
  padding: 20px;
  margin: auto; }

.left {
  float: left; }

.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.clearfix:after, form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.login_content {
  margin: 0 auto;
  padding: 25px 0 0;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  min-width: 280px; }

.login_content a,
.login_content .btn-default:hover {
  text-decoration: none; }

.login_content a:hover {
  text-decoration: underline; }

.login_content h1 {
  font: normal 25px Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 10px 0 30px; }

.login_content h1:before, .login_content h1:after {
  content: "";
  height: 1px;
  position: absolute;
  top: 10px;
  width: 20%; }

.login_content h1:after {
  background: #BBB;
  background: linear-gradient(left, #7e7e7e 0%, white 100%);
  right: 0; }

.login_content h1:before {
  background: #BBB;
  background: linear-gradient(right, #7e7e7e 0%, white 100%);
  left: 0; }

.login_content form {
  margin: 20px 0;
  position: relative; }

.login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
  border-radius: 3px;
  -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
  border: 1px solid #c8c8c8;
  color: #777;
  margin: 0 0 20px;
  width: 100%; }

.login_content form input[type="text"]:focus, .login_content form input[type="email"]:focus, .login_content form input[type="password"]:focus {
  -ms-box-shadow: 0 0 2px #0070BB inset;
  -o-box-shadow: 0 0 2px #0070BB inset;
  box-shadow: 0 0 2px #0070BB inset;
  background-color: #fff;
  border: 1px solid #0060AA;
  outline: none; }

#username {
  background-position: 10px 10px !important; }

#password {
  background-position: 10px -53px !important; }

.login_content form div a {
  font-size: 14px;
  /*margin: 10px 15px 0 0; */
}

.reset_pass {
  margin-top: 10px !important; }

.login_content div .reset_pass {
  margin-top: 13px !important;
  margin-right: 39px;
  float: right; }

.separator {
  border-top: 1px solid #BBB;
  margin-top: 10px;
  padding-top: 10px; }
.separator-text {
  border-top: 1px solid #DDD;
  margin-top: 20px;
  padding-top: 20px;
}

.button {
  background: #f7f9fa;
  background: linear-gradient(top, #f7f9fa 0%, #f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #CFD5D9;
  padding: 15px 0; }

.login_content form input[type="submit"], #content form .submit {
  float: left;
  margin-left: 38px; }

.button a {
  background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
  color: #7E7E7E;
  font-size: 17px;
  padding: 2px 0 2px 40px;
  text-decoration: none;
  transition: all 0.3s ease; }

.button a:hover {
  background-position: 0 -135px;
  color: #00aeef; }

header {
  width: 100%; }

/** signup **/
/** NProgress **/
#nprogress .bar {
  background: #1ABB9C; }

#nprogress .peg {
  box-shadow: 0 0 10px #1ABB9C, 0 0 5px #1ABB9C; }

#nprogress .spinner-icon {
  border-top-color: #1ABB9C;
  border-left-color: #1ABB9C; }
@font-face {
    font-family: 'Ruda';
    src: url('../fonts/Ruda/Ruda-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format("truetype");
}
#nav_big.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index:10;
}
.affix + #subhead {
      padding-top: 50px;
  }

#img-head {
	padding: 18px;
	padding-left: 0;
	height: 90px;
}
header {
	background-color: #FFF;
}
header h3 {
	color: #0060AA;
	margin-top: 24px;
	margin-bottom: 0;
}
header p {
	color: #0060AA;
}
body {
	font-family: "Open Sans";
  background-color: #EFEFEF;
}
#nav_big {
    background-color: #0060AA;
    border: none;
    margin-bottom: 0;
}
#nav_big .navbar-nav>li>a {
    color: #FFF;
}
@media (min-width: 1200px){
	.container {
	    width: 970px; 
	}
}
#nav_mini {
	background-color: #CCC;
    border: none;
	margin-bottom: 0;
	min-height:0px !important;
}
#nav_mini .navbar-nav > li > a{
    padding-top:2px !important; 
    padding-bottom:2px !important;
    border-left: 1px solid #AAA;
    color: #555;
}
#nav_mini .navbar-nav > li > a:hover{
	color:white;
}
#nav_big .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
	color:#333;
	background-color: #DDD;
}
#nav_big .nav>li>a:hover {
	background-color: #005099;
	color:#FFF;
}
#nav_big .navbar-brand {
	font-weight: bold;
	color:#FFF;
}
.back-white {
	background: #FFF;
	border: 1px solid #DEDEDE;
  padding:10px;
  margin: 20px auto;
}
.back-white h4{
  margin-bottom: 0
}
.back-white p{
  margin-bottom: 0;
  color:#333
}
.navbar-default .navbar-toggle {
	background-color: #DDD;
}
.navbar {
	border-radius: 0;
}
footer a{
	color:#0060AA;
}
footer a:hover{
	color:#2e2e9e;
}
body h3, body p{
	color: #0060AA;
}
footer p{
	color:#555;
}
.h3topclear {
	margin-top: 0;
}

table thead{
  color: #0060AA;
}

#table td {
  font-size: 12px
}

#table td .label{
  display: block;
  width: 48px;
}
.div-td {
  padding:2px;
  float: left;
}

#article h3 small {
  margin-top: 12px;
  font-size: 12px
}
#article p {
  color:#333;
  text-indent: 2em;
  text-align: justify;
}
#article ul {
  text-align: justify;
}

.listorg{
  width:100%;
  height:180px;
  border:1px solid #DEDEDE;
}
#listorg .back-white{
  padding-top: 20px;
  background-color: #0060AA;
  color: white;
}
#listorg .back-white p{
  font-size: 12px;
  color: white;
}
.circle-shape {
  width: 48px;
  height: 48px;
  left: 0;
  right: 0;
  top:0;
  z-index: 2;
  bottom:-78px;
  margin: auto;
  position:absolute;
  background: white;
  border-radius: 100%;
  border:2px solid #DEDEDE;
}
.circle-shape span{
  font-size: 24px;
  margin: 9px 10px;
  color: #0060AA
}
